<div class="container border border-3 rounded-4 shadow mt-default p-5 ">
    <div class="mb-5 ">
        <h1 class="text-center mb-3"><i class="bi bi-rocket-takeoff text-success border p-2 rounded-5 px-3 border-5 shadow border-success"></i></h1>
        <h1 class="text-center">
            Bem vindo ao <span class="text-success" >g</span>Manager
        </h1>
        <h5 class="text-center fw-light">
            Você ainda não pertence a nenhum time. Crie um novo time para começar ou aguarde um convite.
        </h5>
    </div>
    <div class="d-flex justify-content-around ">
        <div>
            <%= link_to new_team_path, class:"text-decoration-none text-dark" do %>
                <div class="row border text-center py-4">
                    <i class="bi bi-person-plus text-success fsicon"></i>
                    <h6>Criar um time</h6>
                    <p>Configure sua agência e adicione membros</p>   
                </div>        
            <%end%>
        </div>
        <div>
            <%= link_to new_team_path, class:"text-decoration-none text-dark" do %>
                <div class="row border text-center py-4 rounded">
                    <i class="bi bi-envelope text-success fsicon"></i>
                    <h6>Convites</h6>
                    <p>Confira quem te convidou para um time</p>   
                </div>        
            <%end%>
        </div>
        
    </div>

    
</div>